<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/semantic.min.css"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/uploader.css">
    <link rel="stylesheet" href="/static/css/uploader-icon.css">
    <title>Create ad</title>
  </head>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"
  ></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <style>
    .ui.form .inline.field > .selection.dropdown,
    .ui.form .inline.fields .field > .selection.dropdown {
      width: 100%;
    }
    label {
      font-size: 14px;
      font-weight: normal;
    }
    #category-select.ui.dropdown .menu > .header {
      font-size: 1.2rem;
    }
    #category-select.ui.selection.dropdown .menu {
      max-height: 30.028571rem;
    }
  </style>
  <body>
    <div class="ui container" id="create" style="display:none">
      <!-- create new form form -->
      <div class="ui grid" style="margin-top:100px; margin-bottom: 45px">
        <div class="eleven wide column">
          <div class="ui form small" id="newAdForm">
             <!--advert title -->
             <div class="ui grid">
                <div class="four wide column">
                  <label>Titre de l'annonce</label>
                </div>
                <div class="twelve wide column field">
                  <input type="text" v-model="data.title" id="ad-title" maxlength="50"/>
                </div>
              </div>
              <!-- adverts categories -->
            <div class="ui grid">
              <div class="four wide column"><label>Categorie</label></div>
              <div class="twelve wide column field">
                <div class="ui dropdown selection fluid" id="category-select">
                  <input type="hidden" name="gender" />
                  <i class="dropdown icon"></i>
                  <div class="default text">Choisissez une categorie</div>
                  <div class="menu">
                    <div class="item" data-value="0">
                      Choisissez une categorie
                    </div>
                    {{ range.Categories }}
                    <div class="header">{{ .Name }}</div>
                    <!-- <div class="divider"></div> -->
                    {{ if eq .Name "SERVICES"}}
                    <div class="item" data-value="{{ .CategoryID }}">
                      {{ .Name }}
                    </div>
                    {{ end }} {{ range.SubCategories }}
                    <div class="item" data-value="{{ .CategoryID }}">
                      {{ .Name }}
                    </div>
                    {{ end }} {{ end }}
                  </div>
                </div>
              </div>
            </div>
            <!-- advert type -->
            <div class="ui grid" v-if="form.showAdTypes">
              <div class="four wide column"><label>Type d'annonce</label></div>
              <div class="six wide column field">
                <select class="propSelect" name="" id="adTypes" v-on:change="adTypeChange">
                  <option value="0">--</option>
                  <option v-for="c in form.typesOptions" :value="c.id">{c.label}</option>
                </select>
              </div>
            </div>
            <!-- advert properties-->

            <!-- clothing properties -->
            <div v-if="propState == props.clothing">
              <div class="ui grid">
                <div class="four wide column"><label>Cateogrie</label></div>
                <div class="six wide column field">
                  <select class="propSelect" name="" id="clothingGender" v-on:change="genderChange">
                      <option value="0">--</option>
                    <option v-for="c in form.clothingTypes" :value="c.id">{c.label}</option>
                  </select>
                </div>
                <div class="six wide column field"></div>
              </div>
              <div class="ui grid">
                <div class="four wide column">
                  <label>Choisissez une taille</label>
                </div>
                <div class="six wide column field">
                  <select class="propSelect" name="" id="clothingSizes" v-model="data.attributes.clothingSize">
                      <option value="0">--</option>
                    <option v-for="s in form.clothingSizes" :value="s">{s}</option>
                  </select>
                </div>
                <div class="six wide column field"></div>
              </div>
            </div>
            <!-- men and women -->
            <div v-else-if="propState == props.gender">
              <div class="ui grid">
                <div class="four wide column"><label>Cateogrie</label></div>
                <div class="six wide column field">
                  <select class="propSelect" name="" id="" v-model="data.attributes.genderId">
                      <option value="0">--</option>
                    <option v-for="c in form.genders" :value="c.id">{c.label}</option>
                  </select>
                </div>
                <div class="six wide column field"></div>
              </div>
            </div>
            <!-- men and women -->
            <div v-else-if="propState == props.services">
              <div class="ui grid">
                <div class="four wide column"><label>Domaine d'áctivité</label></div>
                <div class="six wide column field">
                  <select class="propSelect" name="" id="" v-model="data.attributes.serviceId">
                      <option value="0">--</option>
                    <option v-for="c in form.services"  :value="c.id"> {c.label}</option>
                  </select>               
                </div>
                <div class="six wide column field"></div>
              </div>
            </div>
            <!-- shoes properties -->
            <div v-else-if="propState == props.shoes">
              <div class="ui grid">
                <div class="four wide column"><label>Cateogrie</label></div>
                <div class="six wide column field">
                    <select class="propSelect" name="" id="" v-model="data.attributes.genderId">
                        <option value="0">--</option>
                        <option v-for="c in form.clothingTypes"  :value="c.id"> {c.label}</option>
                      </select> 
                </div>
                <div class="six wide column field"></div>
              </div>
              <div class="ui grid">
                <div class="four wide column">
                  <label>Choisissez une pointure</label>
                </div>
                <div class="six wide column field">
                    <select class="propSelect" name="" id="" v-model="data.attributes.shoesSize">
                        <option value="0">--</option>
                        <option v-for="s in form.shoesSizes"  :value="s"> {s}</option>
                      </select> 
                </div>
                <div class="six wide column field"></div>
              </div>
            </div>
            <!-- housing properties -->
            <div v-else-if="propState == props.housing">
              <div class="ui grid">
                <div class="four wide column"><label>Type de bien</label></div>
                <div class="six wide column field">
                    <select class="propSelect" name="" id="housingTypes" v-on:change="changeHousingType" v-model="data.attributes.housingTypeId">
                        <option value="0">--</option>
                        <option v-for="c in form.housingTypes"  :value="c.id"> {c.label}</option>
                      </select> 
                </div>
                <div class="six wide column field"></div>
              </div>
              <div class="ui grid" v-if="form.showHousingRoom">
                <div class="four wide column">
                  <label>Nombres de pieces</label>
                </div>
                <div class="six wide column field">
                  <div class="ui input">
                    <input type="text" v-model="data.attributes.housingRoomNumber"/>
                    <!-- <div class="ui basic label">Km</div> -->
                  </div>
                </div>
                <div class="six wide column field"></div>
              </div>
            </div>
            <!-- cars properties -->
            <div v-else-if="propState == props.cars">
              <div class="ui grid">
                <div class="four wide column"><label>Marque</label></div>
                <div class="six wide column field">
                  <select class="propSelect" name="" id="" v-model="data.attributes.carBrand">
                      <option value="0">--</option>
                    <option v-for="m in form.carsBrands" :value="m.label">{m.label}</option>
                  </select>
                </div>
                <div class="six wide column field"></div>
              </div>
              <div class="ui grid">
                <div class="four wide column">
                  <label>Année de fabrication</label>
                </div>
                <div class="six wide column field">
                  <select class="propSelect" name="" id="" v-model="data.attributes.carYear">
                      <option value="0">--</option>
                    <option v-for="y in form.carsYears" :value="y">{y}</option>
                  </select>
                </div>
                <div class="six wide column field"></div>
              </div>
              <div class="ui grid">
                <div class="four wide column"><label>Kilométrage</label></div>
                <div class="six wide column field">
                  <div class="ui right labeled input">
                    <input type="text" v-model="data.attributes.carKm"/>
                    <div class="ui basic label">Km</div>
                  </div>
                </div>
              </div>
            </div>
            <!--moto properties-->
            <div v-else-if="propState == props.moto">
                <div class="ui grid">
                  <div class="four wide column">
                    <label>Année de fabrication</label>
                  </div>
                  <div class="six wide column field">
                    <select class="propSelect" name="" id="" v-model="data.attributes.motoYear">
                        <option value="0">--</option>
                      <option v-for="y in form.carsYears" :value="y">{y}</option>
                    </select>
                  </div>
                  <div class="six wide column field"></div>
                </div>
                <div class="ui grid">
                  <div class="four wide column"><label>Kilométrage</label></div>
                  <div class="five wide column field">
                    <div class="ui right labeled input">
                      <input type="text" v-model="data.attributes.motoKm" />
                      <div class="ui basic label">Km</div>
                    </div>
                  </div>
                </div>
              </div>
            <!--end of advert properties-->
            <div class="ui grid">
              <div class="four wide column">
                <label>Description de l'annonce</label>
              </div>
              <div class="twelve wide column field">
                <textarea
                  name=""
                  id="descritpion"
                  cols="10"
                  rows="8"
                  v-model="data.description"
                  maxlength="4000"
                ></textarea>
              </div>
            </div>
            <div class="ui grid" v-if="form.showPrice">
              <div class="four wide column">
                <label>{form.priceLabel}</label>
              </div>
              <div class="six wide column field">
                <div class="ui right labeled input">
                  <input
                    type="text"
                    :placeholder="form.priceLabel"
                    v-model="data.price"
                    id="ad-price"
                    maxlength="12"
                    data-content="You can use me to enter data"
                  />
                  <div class="ui basic label">FCFA</div>
                </div>
              </div>
              <!-- <div class="five wide column field">
                <button class="ui icon button">
                  <i class="question circle outline icon"></i>
                </button>
              </div> -->
            </div>
            <div class="ui section divider"></div>
            <div class="ui grid">
              <div class="four wide column">
                <label>Ajouter des photos</label>
              </div>
              <div class="twelve wide column field"  id="pictures-field">
                  <div id="images-area">
                    <div class="fileuploader fileuploader-theme-thumbnails">
                      <div class="fileuploader-items">
                        <ul class="fileuploader-items-list" id="img-list">
                          <li class="fileuploader-thumbnails-input" id="upload-item">
                            <div class="fileuploader-thumbnails-input-inner upload-button">
                              <i>+</i>
                              <!-- <div class="upload-button">Upload Image</div> -->
                            </div>
                            <input
                              class="file-upload"
                              type="file"
                              name="files[]"
                              multiple
                              accept="image/*"
                            />
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="ui section divider"></div>
            <div class="ui grid" id="cityPicker">
              <div class="four wide column"><label>Ville</label></div>
              <div class="six wide column field">
                    <select class="ui search dropdown">
                        <option value="0">--</option>
                        <option v-for="c in cities" :value="c.CityID">{c.name}</option>
                    </select>
              </div>
            </div>

            <div class="ui grid">
              <div class="four wide column"><label>Téléphone</label></div>
              <div class="six wide column field">
                <div class="ui left labeled input">
                    <div class="ui basic label">+255</div>
                  <input
                    type="text"
                    v-model="data.phoneNumber"
                    id="phoneNumberInput"
                    maxlength="11"
                  />
                </div>
              </div>
            </div>
            <div class="ui section divider"></div>
            <div class="ui grid">
              <div class="sixteen wide column">
                <button
                  class="ui right labeled icon button right floated primary"
                  v-on:click="advertJSON()"
                >
                  <i class="right arrow icon"></i>Suivant
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <!-- <script src="/static/js/index.js"></script> -->
  
  <script src="/static/js/create.js"></script>
</html>
