<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/semantic.min.css"
    />
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>Create ad</title>
  </head>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"
  ></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <style>
    .ui.form .inline.field > .selection.dropdown,
    .ui.form .inline.fields .field > .selection.dropdown {
      width: 100%;
    }
    label {
      font-size: 14px;
      font-weight: normal;
    }
    .ui.dropdown .menu > .header {
      font-size: 1.2rem;
    }
    .ui.selection.dropdown .menu {
      max-height: 35.028571rem;
    }
  </style>
  <body>
    <div class="ui container" id="create">
      <!-- create new advert form -->
      <div class="ui grid" style="margin-top:30px;">
        <div class="twelve wide column">
          <div class="ui form">
            <div class="ui grid">
              <div class="four wide column"><label>Categorie</label></div>
              <div class="twelve wide column field">
                <div class="ui dropdown selection fluid" id="category-select">
                  <input type="hidden" name="gender" />
                  <i class="dropdown icon"></i>
                  <div class="default text">Choisissez une categorie</div>
                  <div class="menu">
                    <div class="item" data-value="0">
                      Choisissez une categorie
                    </div>
                    {{ range.Categories }}
                    <div class="header">{{ .Name }}</div>
                    <!-- <div class="divider"></div> -->
                    {{ if eq .Name "SERVICES"}}
                    <div class="item" data-value="{{ .CategoryID }}">
                      {{ .Name}}
                    </div>
                    {{ end }} {{ range.SubCategories }}
                    <div class="item" data-value="{{ .CategoryID }}">
                      {{ .Name}}
                    </div>
                    {{ end }} {{ end }}
                  </div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="four wide column"><label>Type d'annonce</label></div>
              <div class="six wide column field">
                <div class="ui dropdown selection" id="ad-type">
                  <input type="hidden" name="gender" />
                  <i class="dropdown icon"></i>
                  <div class="default text">Type d'annonce</div>
                  <div class="menu">
                    <div class="item" data-value="0">Recherche</div>
                    <div class="item" data-value="1">Vente</div>
                    <div class="item" data-value="2">Troc</div>
                  </div>
                </div>
              </div>
              <div class="six wide column field"></div>
            </div>
            <!-- <div class="ui grid">
              <div class="four wide column"><label>Condition </label></div>
              <div class="six wide column field">
                <div class="ui selection dropdown">
                  <input type="hidden" name="gender" />
                  <i class="dropdown icon"></i>
                  <div class="default text">Type d'annonce</div>
                  <div class="menu">
                    <div class="item" data-value="1">Male</div>
                    <div class="item" data-value="0">Female</div>
                  </div>
                </div>
              </div>
              <div class="six wide column field"></div>
            </div> -->
            <div class="ui grid" v-if="formID === 2">
              <div class="four wide column">
                <label>Intitulé du poste</label>
              </div>
              <div class="twelve wide column field"><input type="text" /></div>
            </div>
            <div class="ui grid" v-else>
              <div class="four wide column">
                <label>Titre de l'annonce</label>
              </div>
              <div class="twelve wide column field"><input type="text" /></div>
            </div>
            <div class="ui grid">
              <div class="four wide column">
                <label>Description de l'annonce</label>
              </div>
              <div class="twelve wide column field">
                <textarea name="" id="" cols="10" rows="5"></textarea>
              </div>
            </div>
            <div class="ui grid" v-if="formID === 2">
              <div class="four wide column"><label>Salaire</label></div>
              <div class="five wide column field">
                <div class="ui right labeled input">
                  <input type="text" placeholder="Prix" id="amount" />
                  <div class="ui basic label">FCFA</div>
                </div>
              </div>
            </div>
            <div class="ui grid" v-else-if="formID === 4">
              <div class="four wide column"><label>Loyer</label></div>
              <div class="five wide column field">
                <div class="ui right labeled input">
                  <input type="text" placeholder="Prix" id="amount" />
                  <div class="ui basic label">FCFA</div>
                </div>
              </div>
            </div>
            <div class="ui grid" v-else-if="formID === 5">
              <div class="four wide column">
                <label>Coût du service </label>
              </div>
              <div class="five wide column field">
                <div class="ui right labeled input">
                  <input type="text" placeholder="Prix" id="amount" />
                  <div class="ui basic label">FCFA</div>
                </div>
              </div>
            </div>
            <div class="ui grid" v-else-if="formID === 1">
              <div class="four wide column"><label>Prix</label></div>
              <div class="five wide column field">
                <div class="ui right labeled input">
                  <input type="text" placeholder="Prix" id="amount" />
                  <div class="ui basic label">FCFA</div>
                </div>
              </div>
            </div>
            <div class="ui grid">
              <div class="four wide column">
                <label>Ajouter des photos</label>
              </div>
              <div class="twelve wide column field">
                <textarea name="" id="" cols="10" rows="5"></textarea>
              </div>
            </div>
            <div class="ui section divider"></div>
            <div class="ui grid">
              <div class="four wide column"><label>Addresse</label></div>
              <div class="twelve wide column field"><input type="text" /></div>
            </div>
            <div class="ui grid">
              <div class="four wide column"></div>
              <div class="twelve wide column field">
                <textarea name="" id="" cols="10" rows="5"></textarea>
              </div>
            </div>

            <div class="ui grid">
              <div class="four wide column"><label>Téléphone</label></div>
              <div class="five wide column field">
                <input type="text" placeholder="+225" id="amount" />
              </div>
            </div>
            <div class="ui section divider"></div>
            <div class="ui grid">
              <div class="sixteen wide column">
                <button
                  class="ui right labeled icon button right floated primary"
                >
                  <i class="right arrow icon"></i>Suivant
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- <script src="/static/js/index.js"></script> -->
  <script>
    Vue.options.delimiters = ["{", "}"];
    var createApp = new Vue({
      el: "#create",
      data: {},
      methods: {},
      created: function() {},
    });

    $("#category-select").dropdown({
      onChange: function(value, text, $choice) {
        console.log(value, text, $choice);
        createApp.selectCategoryL1(Number(value));
      },
    });
    $(".ui.dropdown").dropdown();
  </script>
</html>
