<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/semantic.min.css"
    />
    <link href="/static/css/skdslider.css" rel="stylesheet" />

    <title>Site d'annonce</title>
  </head>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"
  ></script>
  <script src="/static/js/semantic.min.js"></script>
  <script src="/static/js/skdslider.min.js"></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

  <link rel="stylesheet" href="/static/css/index.css" />
  <body>
    <div id="home">
      <!-- header -->
      {{ template "desktop/components/header.html" . }}
      <!-- end of header -->
      <div class="ui container" style="margin-top: 25px;  padding-top: 7px;">
        <div class="ui breadcrumb">
          <a class="section">Acceuil</a>
          <div class="divider">/</div>
          <a class="section">{{ .CityName }}</a>
          <div class="divider">/</div>
          <div class="active section">{{ .Category }}</div>
        </div>
      </div>
      <!-- ads listing section -->
      {{ template "desktop/components/ads-listing.html" .}}
      <!-- end of ads listing section -->
    </div>
    <!-- home end -->
  </body>
  <script src="/static/js/index.js"></script>
  <script src="/static/js/listing.js"></script>
</html>
