<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/semantic.min.css"
    />
    <link rel="stylesheet" href="/static/css/index.css" />

    <title>{{ .User.Name }}</title>
  </head>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"
  ></script>
  <script src="/static/js/axios.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

  <body>
    {{ template "desktop/components/header.html" .}}
    <div class="ui container" id="my-account">
      <div class="ui grid">
        <div class="four wide column">
          <!-- account menu -->
          <div class="ui vertical large pointing fluid menu">
            <a class="item" href="/profile"> Mes annonces </a>
            <a class="item" href="/profile/messenger"> Messages </a>
            <a class="item" href="/profile/favoris"> Favoris </a>
            <a class="item active" href="/profile/alerts"> Alertes </a>
            <a class="item" href="#"> Evaluations </a>
            <a class="item" href="/profile/settings"> Configuration </a>
          </div>
          <!-- end of account menu -->

          <!-- user description card -->
          {{ template "desktop/components/profile-card.html" .User}}
          <!-- end of user description card -->
        </div>

        <!-- right section display selcted menu content -->
        <div class="twelve wide column">
          <!-- messages section -->
          <section>
            <div>
              <div class="ui checkbox mini" id="selectAllAlert">
                <input type="checkbox" tabindex="0" class="hidden" />
                <label>Tous selectionner</label>
              </div>
              <!-- <button class="ui tiny button">Loading</button> -->
              <button
                class="ui mini right floated button inverted red disabled"
              >
                <i class="trash icon"></i> Supprimer la selection
              </button>
              <div class="ui section divider"></div>
            </div>
            <div class="ui divided items">
              <div class="item" v-for="(img, index) in images">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden" />
                </div>
                <div class="content">
                  <div class="cardPrice">
                    Lenovo IdeaPad 320 → Electronique Grand Public / Ordinateurs
                    Portables
                    <div class="ui toggle checkbox right floated">
                      <label>Recevoir par email</label>
                      <input type="checkbox" tabindex="0" class="hidden" />
                    </div>
                  </div>
                  <div class="price">
                    Uniquement avec photos, Uniquement avec livraison, Prix ​​8
                    000 - 15 000 roubles .
                  </div>
                  <div class="meta">
                    <span class="cinema">Yamoussoukro</span>
                  </div>
                  <div class="description text-right"></div>
                </div>
              </div>
            </div>
          </section>
          <!-- end of ads listing items -->
        </div>
      </div>
    </div>
  </body>
  <script>
    var dumpImg = [
      "https://scontent-frt3-1.cdninstagram.com/vp/3f3221c8ef1499170f6fb4cf1fdc1b3a/5C921356/t51.2885-15/e35/45510151_2352295998132462_5450872102550480899_n.jpg",
      "https://www.gamepretty.com/wp-content/uploads/2018/10/nintendo-switch-6.01-update-01.jpg",
      "https://images-na.ssl-images-amazon.com/images/I/51qiZgs22mL._SX425_.jpg",
    ];

    var myAccountApp = new Vue({
      el: "#my-account",
      data: {
        images: dumpImg,
        adToRemove: "",
      },
      methods: {
        showRemoveAdModal(ad) {
          this.adToRemove = ad;
          $("#removeAdModal").modal("show");
        },
      },
    });
  </script>
  <script>
    $("#removeAdModal").modal();
    $(".ui.rating")
      .rating({
        initialRating: 5,
        maxRating: 5,
      })
      .rating("disable");
    $(".ui.checkbox").checkbox();

    $("#selectAllAlert").checkbox();
  </script>
</html>
