<section style="margin-top: 25px;" id="listing">
  <div class="ui container">
    <div class="ui grid">
      <div class="twelve wide column">
        <div class="ui secondary  menu">
          <div class="header item" style="padding-left: 0px;">
            <h2>{{ .Category }}</h2>
          </div>
          <div class="right menu">
            <div class="item">
              <div class="ui basic buttons icon">
                <button
                  class="ui button active"
                  id="grid-view-btn"
                  v-on:click="setViewToGrid"
                >
                  <i class="th icon"></i>
                </button>
                <button
                  class="ui button"
                  id="list-view-btn"
                  v-on:click="setViewToList"
                >
                  <i class="list icon"></i>
                </button>
              </div>
            </div>
            <div class="item" style="padding-right: 0px">
              <div class="ui selection dropdown" id="sorting-drodown">
                <input type="hidden" name="gender" />
                <i class="dropdown icon"></i>
                <div class="default text">Par default</div>
                <div class="menu">
                  <div class="item" data-value="0">Par default</div>
                  <div class="item" data-value="1">Nouveauté</div>
                  <div class="item" data-value="2">Prix croissant</div>
                  <div class="item" data-value="3">Prix decroissant</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- advert card listing -->

        <!-- ad grid view -->

        <div class="ui four column grid" v-if="isViewGrid">
          <div class="column" v-for="i in images">
            <div class="ui fluid card raised link">
              <a class="image" :href="i" target="blank">
                <img :src="i" class="grid-card-img" />
                <div class="img-overlay card-location">Yamoussoukro</div>
              </a>
              <div class="content">
                <a class="cardPrice">Sony PS4 Pro 1 To + Disque</a>
                <div class="price">150.000 FCFA</div>
                <div class="meta">
                  <span class="date">13 novembre 08:07</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ad list view -->
        <div class="ui divided link items" v-else>
          <div class="item" v-for="i in images">
            <a class="image"> <img class="list-card-img" :src="i" /> </a>
            <div class="content">
              <a class="cardPrice">Sony PS4 Pro 1 To + Disque</a>
              <div class="price">150.000 FCFA</div>

              <div class="meta"><span class="cinema">Yamoussoukro</span></div>
              <div class="meta">
                <span class="cinema">13 novembre 08:07</span>
              </div>
              <div class="description"><p></p></div>
            </div>
          </div>
        </div>
        <!-- end of advert card listing -->
      </div>
      <div class="four wide column">
        <div id="filter">
          <div class="ui card">
            <div class="content"><div class="header">Filtrer</div></div>
            <div class="content">
              <div class="ui input">
                <input
                  type="text"
                  class="left-input"
                  placeholder="À partir de"
                />
                <input type="text" class="right-input" placeholder="Jusqu'à" />
              </div>
            </div>
            <div class="content">
              <div class="ui segment">
                <div class="ui checkbox">
                  <input type="checkbox" name="example" />
                  <label>Avec photo uniquement</label>
                </div>
              </div>
            </div>
            <div class="extra content">
              <button class="ui basic primary button fluid">Appliquer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
