<!-- user description card -->
<div class="ui card">
  <div class="content">
    <div class="center aligned header">{{ .Name }}</div>
    <div class="center aligned description">
      <img
        class="ui circular tiny image"
        src="https://semantic-ui.com/images/avatar/small/jenny.jpg"
      />
    </div>
    <div class="center aligned"><div class="ui star large rating"></div></div>
    <div class="center aligned description">
      <p>Suivi par 5 personnes</p>
      <p>10 Abonnements</p>
    </div>
  </div>
</div>
<!-- end of user description card -->
