body {
  height: auto;
}
/* top navigation bar styling */
#first-nav {
  padding-top: 10px;
}

#header {
  padding-bottom: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

#header .header.item:hover {
  background: none;
}

#sticky-navbar {
  margin-top: 7px;
}
.logo {
  margin-right: 5px !important;
  width: 25px !important;
  height: 25px !important;
}
.main.menu.fixed {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  left: 0 !important;
  width: 100% !important;
  height: 55px !important;
}
#user-menu.ui.pointing.dropdown > .menu {
  top: 100%;
  margin-top: 1.5rem;
}
#nav-search {
  width: 580px;
}
#location-selector {
  margin-right: 14px;
}
/* end of top navigation bar styling */

/* slider styling */
#eventsSlide {
  height: 350px;
}
.skdslider {
  max-height: 350px;
  margin-bottom: 20px;
  overflow: hidden;
}
.skdslider img {
  object-fit: cover;
}
/* end slider styling */

.ui.label.dropdown .menu {
  min-width: max-content;
}

/* ads listing section styling */
.cardPrice {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #2d97de;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: 700;
  margin: 5px 0px;
}
.grid-card-img {
  height: 142px !important;
  object-fit: cover;
}

.card-location {
  position: absolute;
  left: 1em;
  bottom: 1em;
  max-width: 66%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  line-height: normal;
  border-radius: 2px;
  padding: 0 3px 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}

.list-card-img {
  height: 110px !important;
  object-fit: cover;
}

/* price limit asid block styling */
#filter input {
  width: 50%;
  border-right-color: lightgray !important;
}

.left-input {
  border-radius: 0.28571429rem 0 0 0.28571429rem !important;
}
.right-input {
  border-radius: 0 0.28571429rem 0.28571429rem 0 !important;
}

/* text troncate */

.troncate {
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* login modal css */

#loginModal button {
  margin-bottom: 10px;
}
#loginModal a:hover {
  cursor: pointer;
}
#loginModal p {
  font-weight: 500;
  font-size: 12px;
}
#loginModal .small-text {
  margin-top: 20px;
  font-size: 11px;
  text-align: left;
}
#loginModal .legend {
  font-size: 20px;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  #loginModal.ui.mini.modal {
    width: 400px;
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  #loginModal.ui.mini.modal {
    width: 400px;
    margin: 0;
  }
}
/* end of login modal css */

/* profile-ads style */
#my-account {
  margin-top: 50px;
}
.ui.rating {
  margin: 10px 0px;
}

/* ad listing item styling */
.cardPrice {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: #2d97de;
  margin-bottom: 0.5rem;
}
.price {
  font-weight: 700;
  margin: 5px 0px;
}
.list-card-img {
  height: 110px !important;
  object-fit: cover;
}
.text-right {
  text-align: right;
}

#selectLocation.ui.form .inline.field > .selection.dropdown,
.ui.form .inline.fields .field > .selection.dropdown {
  width: 100%;
}

/* end of ad listing item styling */
/* end of profile-ads style */
